<article class="secret-story">
  <ng-container *ngIf="!unlockStory">
    <p class="secret-message--text">
      Y mientras llega el día, narraremos una increible historia... una historia
      de una princesa... una princesa pEculiar (si, con E, no con A, cochin@)...
    </p>
    <p class="secret-message--text">
      Sin embargo, esta no es una historia cualquiera... es una historia mágica,
      que se genera día tras día, durante el mágico mes de julio...
    </p>
  </ng-container>

  <ng-container *ngIf="unlockStory">
    <section
      class="secret-message--container"
      *ngFor="let message of unlockedMessages"
    >
      <p class="secret-message--text">{{ message.content }}</p>
    </section>
  </ng-container>

  <ng-container *ngIf="unlockFinal; else elseFinal">
    <p class="secret-message--title final">¡Te amo 30 muchos!</p>
  </ng-container>
  <ng-template #elseFinal>
    <p class="secret-message--title final">...</p>
  </ng-template>
</article>
